@import "../../theme.scss";

.page-navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 12px 8px;
  border-top: 1px solid $color-lightgray;
  border-bottom: 1px solid $color-lightgray;
}
