@import "./theme.scss";

@font-face {
  font-family: Poppins;
  src: url(assets/fonts/Poppins/Poppins-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Poppins;
  src: url(assets/fonts/Poppins/Poppins-Medium.ttf);
  font-weight: medium;
}

@font-face {
  font-family: Poppins;
  src: url(assets/fonts/Poppins/Poppins-Thin.ttf);
  font-weight: thin;
}

@font-face {
  font-family: Poppins;
  src: url(assets/fonts/Poppins/Poppins-Regular.ttf);
  font-weight: regular;
}

.app {
  font-family: Poppins;
  margin-bottom: 20px;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: Poppins;
}

a {
  text-decoration: none;
  color: $color-black;
}
